<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="content/styles.css" />
    <link href="content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="content/toastr-responsive.css" rel="stylesheet" type="text/css" />
    <title>Code Camper</title>
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <div id="busyindicator"></div>

    <header>
        <h1>Code Camper</h1>
        <nav class="main-nav">
            <div class="accent accent-top"></div>
            <div class="accent accent-left"></div>
            <ul data-bind="if: $data">
                <li class="route-top"><a href="#/favorites">Favorites</a></li>
                <li class="route-top"><a href="#/sessions">Sessions</a></li>
                <li class="route-top"><a href="#/speakers">Speakers</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="main">
        
        @RenderPage("Views/favorites.cshtml")
        @RenderPage("Views/speakers.cshtml")
        @RenderPage("Views/sessions.cshtml")
        @RenderPage("Views/session.cshtml")

    </section>
    <script data-main="scripts/app/main.js" src="Scripts/require.js"></script>

</body>
</html>