<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="content/styles.css" />
    <link href="content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="content/toastr-responsive.css" rel="stylesheet" type="text/css" />
    <title>Code Camper</title>
    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <header>
        <h1>Code Camper</h1>
        <nav>
				<ul data-bind="if: $data">
                    <li class="route-top"><a href="#/favorites">My</a></li>
					<li class="route-top"><a href="#/sessions">Sessions</a></li>
					<li class="route-top"><a href="#/speakers">Speakers</a></li>
				</ul>
        </nav>
    </header>
    @RenderPage("Views/favorites.cshtml")
    @RenderPage("Views/speakers.cshtml")
    @RenderPage("Views/sessions.cshtml")
    @RenderPage("Views/session.cshtml")

    <!-- 3rd Party libraries -->
    <script src="Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="Scripts/json2.js" type="text/javascript" ></script>
    <script src="Scripts/underscore.js" type="text/javascript" ></script>
    <script src="Scripts/sammy.js" type="text/javascript"></script>
    <script src="Scripts/amplify.core.js" type="text/javascript"></script>
    <script src="Scripts/amplify.request.js" type="text/javascript"></script>
    <script src="Scripts/amplify.store.js" type="text/javascript"></script>
    <script src="Scripts/jquery.mockjson.js" type="text/javascript"></script>
    <script src="Scripts/moment.js" type="text/javascript"></script>
    <script src="Scripts/knockout-2.1.0.js" type="text/javascript"></script>
    <script src="Scripts/toastr.js" type="text/javascript"></script>
    
    <!-- App Mocking libraries (DO NOT DEPLOY) -->
    <script src="js/mock/mock.generator.js" type="text/javascript"></script>
    <script src="js/mock/mock.dataservice.lookup.js" type="text/javascript"></script>
    <script src="js/mock/mock.dataservice.person.js" type="text/javascript"></script>
    <script src="js/mock/mock.dataservice.session.js" type="text/javascript"></script>

    <!-- App libraries -->
    <script src="js/config.js" type="text/javascript"></script>
    <script src="js/presenter.js" type="text/javascript"></script>
    <script src="js/router.js" type="text/javascript"></script>
    <script src="js/model.js" type="text/javascript" ></script>
    <script src="js/model.mapper.js" type="text/javascript" ></script>
    <script src="js/dataservice.lookup.js" type="text/javascript"></script>
    <script src="js/dataservice.person.js" type="text/javascript"></script>
    <script src="js/dataservice.session.js" type="text/javascript"></script>
    <script src="js/datacontext.js" type="text/javascript"></script>
    <script src="js/dataprimer.js" type="text/javascript"></script>
    <script src="js/vm.favorites.js" type="text/javascript"></script>
    <script src="js/vm.sessions.js" type="text/javascript"></script>
    <script src="js/vm.speakers.js" type="text/javascript"></script>
    <script src="js/vm.session.js" type="text/javascript"></script>
    <script src="js/bootstrapper.js" type="text/javascript"></script>
</body>
</html>