<section id="favorites-view" class="view">
    
    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left" data-bind="css :{'route-active': isSelected()}">
                <a data-bind="attr: {href: hash }">
                    <span data-bind="text: day"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div data-bind="template: {name: filterTemplate}"></div>

    <div class="view-list" data-bind="template: {name: sessionTemplate, foreach: sessions}"></div>

    <!-- Knockout Debugging -->
    <!--    
        <div style="border:white dotted thin">
            <h4>Sessions JSON</h4>
            <pre data-bind="text:ko.utils.debugInfo(sessions)"></pre>
        </div>
    -->

</section>