<section id="favorites-view" class="view">
    
    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left" data-bind="css :{'route-active': isSelected()}">
                <a data-bind="attr: {href: '#/favorites/date/' + date }">
                    <span data-bind="text: day"></span>
                </a>
            </li>
        </ul>
    </nav>

    <div data-bind="template: {name: filterTmpl}"></div>

    <div class="view-list" data-bind="template: {name: tmplName, foreach: sessions}"></div>

    <!-- Knockout Debugging -->
    <!-- TODO: remove -->
    <!--    
        <div style="display:block">
            <h4 class="caption">Sessions JSON</h4>
            <pre data-bind="text:ko.utils.debugInfo(sessions)">
        </pre>
        </div>
    -->
    <!-- Knockout Debugging -->

</section>