<section id="favorites" class="view">
        <nav>
            <ul>
                <li><a href="#">Right Now</a></li>
                <li><a href="#">Saturday May 1</a></li>
                <li><a href="#">Sunday May 2</a></li>
                <li><a href="#">Monday May 3</a></li>
                <li><a href="#">Tuesday May 4</a></li>
            </ul>
        </nav>
        <h1>Sunday May 2</h1>
        <!-- ko foreach: sessions -->
        <article>
				<img data-bind="attr: {src: imageUrl}"/>
				<time datetime="11:00" data-bind="text:shortTimeSlot"></time>
				<h1 data-bind="text: title"></h1>
				<address data-bind="text: speaker().fullName"></address>
        </article>
        <!-- /ko -->
        <div>
            <h4 class="caption">Sessions JSON</h4>
            <pre data-bind="text:debugInfo">
            </pre>
        </div>
    </section>
