<section id="favorites" class="view">
    <div id="busy1"></div>
    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left">
                <a data-bind="attr: {href: '#/favorites/date/' + date }, text: day"></a>
            </li>
        </ul>
    </nav>

    <!-- Knockout Debugging -->
    Reevaluation Count: <span data-bind="text: sessions.reevaluationCount"></span>
    <!-- Knockout Debugging -->

    <div>
        <input placeholder="filter by speaker, title, tag, time slot, track" type="text">
    </div>
    
    <!-- ko foreach: sessions -->
    <article>
        <img data-bind="attr: {src: speaker().imageName}"/>
        <time datetime="11:00" data-bind="text:timeslot().shortStart"></time>
        <h1 data-bind="text: title"></h1>
        <label><input data-bind="checked:isFavorite" type="checkbox"/><span></span></label>
        <address data-bind="text: speaker().fullName"></address>
    </article>
    <!-- /ko -->

    <div style="display:block">
        <h4 class="caption">Sessions JSON</h4>
        <pre data-bind="text:debugInfo">
        </pre>
    </div>
</section>
