<section id="favorites" class="view">
    <div id="busy1"></div>
    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left" data-bind="css :{'route-active': isSelected()}">
                <a data-bind="attr: {href: '#/favorites/date/' + date }, text: day"></a>
            </li>
        </ul>
    </nav>

    <!-- Knockout Debugging -->
    <!-- TODO: remove -->
    <!-- Reevaluation Count: <span data-bind="text: sessions.reevaluationCount"></span> -->
    <!-- Knockout Debugging -->

    <div>
        <input data-bind="value: searchText, valueUpdate: 'afterkeydown'" placeholder="filter by room, speaker, tag, title, or track" type="text"/>
        <small>Showing <small data-bind="text:sessions().length"></small> sessions</small>
    </div>
    
    <!-- ko foreach: sessions -->
    <article>
        <img data-bind="attr: {src: speaker().imageName}"/>
        <span data-bind="text:timeslot().shortStart"></span> at <span data-bind="text:room().name"></span>
        <small data-bind="text:level" style="float: right"></small>
        <h1 data-bind="text: title"></h1>
        <label><input data-bind="checked:isFavorite" type="checkbox"/><span></span></label>
        <address data-bind="text: speaker().fullName"></address>
    </article>
    <!-- /ko -->

    <!-- Knockout Debugging -->
    <!-- TODO: remove -->
    <!--
        <div style="display:block">
            <h4 class="caption">Sessions JSON</h4>
            <pre data-bind="text:debugInfo">
        </pre>
        </div>
        -->
    <!-- Knockout Debugging -->

</section>