<section id="favorites" class="view">
    <nav>
        <ul data-bind="foreach: days">
            <li class="route-left">
                <a data-bind="attr: {href: '#/favorites/date/' + date }, text: day"></a>
            </li>
        </ul>
    </nav>
    <div>
		<input placeholder="filter by speaker, title, tag, time slot, track" type="text">
	</div>
    <!-- ko foreach: sessions -->
    <article>
        <img data-bind="attr: {src: speaker().imageName}"/>
        <time datetime="11:00" data-bind="text:timeslot().fullStart"></time>
        <h1 data-bind="text: title"></h1>
        <label><input data-bind="checked:isFavorite" type="checkbox"/><span></span></label>
        <address data-bind="text: speaker().fullName"></address>
    </article>
    <!-- /ko -->
    <div>
        <h4 class="caption">Sessions JSON</h4>
        <pre data-bind="text:debugInfo">
        </pre>
    </div>
</section>
