<section id="session" class="view">
    <article data-bind="with: session">
        <div>
            <img data-bind="attr: {src: speaker().imageName}"/>
            <span data-bind="text:timeslot().shortStart"></span> at <span data-bind="text:room().name"></span>
            <small data-bind="text:level" style="float: right"></small>
            <a data-bind="attr: {href: '#/sessions/' + id() }"><h1 data-bind="text: title"></h1></a>
            <address data-bind="text: speaker().fullName"></address>
            <label class="markfavorite" title="Mark as favorite"><input 
                data-bind="checked:isFavorite, enable: isUnlocked, click: saveFavorite" 
                type="checkbox"/><span></span></label>
        </div>
    </article>
</section>
