<style>
    .titleblock {
        /*float: left;*/
        /*width: 600px;*/
    }

    .titleblock > label {
        /*clear: both;*/
        display: block;
        float: left;
        line-height: 35px;
        width: 100px;
    }

    .titleblock > input {
        width: 515px;
    }

    .titleblock > h1 {
        color: #119EDA;
        font-size: 130%;
        margin-bottom: 1%;
    }

    .details-left {
        float: left;
        width: 300px;
        clear: both;
    }

    .details-left > div {
    }

    .details-left label {
        clear: both;
        display: block;
        float: left;
        line-height: 35px;
        width: 100px;
    }

    .details-left input {
        width: 150px;
    }

    .details-left select {
        width: 160px;
    }

    .details-right {
        float: left;
    }
    .details-right label {
        display: block;
    }

    .details-right textarea,
    span.scrollable-text {
        font-family: 'Segoe UI Light';
        height: 100px;
        width: 300px;
        float: left;
        overflow-y:scroll;
        margin-bottom: 6px;
    }
    span.scrollable-text {
        border: 1px #808080 solid;
        background-color: whitesmoke;
        width: 310px;
    }

    .details-left img {
        background: rgba(255, 255, 255, .8);
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
        height: 90px;
        margin: 4% 4% 1% 0;
        padding: 4px;
    }

    .details-left div address {
        line-height: 35px;
        margin-left: 100px;
    }

    label.markfavorite-no-float > input[type="checkbox"] + span  {
        float: none;
        margin-top: 4%;
    }

</style>
<section id="session" class="view">
    Dirty=
    <div data-bind="text: isDirty()"></div>
    <div data-bind="template: {name: tmplName}"></div>
</section>