<section id="session-view" class="view">
    <button class="button-back" data-bind="command: goBack, activity: goBack.isExecuting"></button>
    <div class="save-cancel-button-bar">
        <button class="button-cancel" data-bind="command: cancel, activity: cancel.isExecuting">Cancel</button>
        <button class="button-save" data-bind="command: save, activity: save.isExecuting">Save</button>
    </div>
    <div data-bind="template: {name: tmplName}"></div>
<!--
    <div data-bind="wijradialgauge: 
        {
            value: 55, 
            min: 0, 
            max:200, 
            cap: {radius: 3}, 
            startAngle: -45,
            sweepAngle: 270,
            radius: 'auto',
            islogarithmic: false,
            origin: {
                x: 0.5, y: 0.5
            },
            labels: {
                offset: 30, //4F6B82
                labelStyle: {
                    fill: '#1E395B',
                    'font-size': 10,
                    'font-weight': '800'
                }
            },
            tickMinor: {
                position: 'inside',
                offset: 30,
                tickStyle: {
                    'height': 2,
                    'width': 50,
                    fill: '#1E395B',
                    stroke: '#E7EFF8'
                },
                interval: 10,
                visible: true
            },
            tickMajor: {
                position: 'inside',
                offset: 27,
                tickStyle: {
                    fill: '#1E395B',
                    'height': 3,
                    'width': 10,
                    stroke: '#E7EFF8',
                    'stroke-width': '1'
                },
                interval: 50,
                visible: true
            },
            face: {
                faceStyle: {
 
                    fill: '#194D7B',
                    stroke: '#7BA0CC',
                    'stroke-width': '4'
                }
            }
        }" 
         style="width: 300px;height: 200px; clear:both"></div>
    -->
</section>