<section id="sessions" class="view">
    <nav>
        <label for="track">Track</label>
        <select id="track">
            <option>Web</option>
        </select>
            
        <label for="speaker">Speaker</label>
        <select id="speaker">
            <option>John</option>
        </select>
            
        <label for="timeSlot">Time slot</label>
        <select id="timeSlot">
            <option>Right</option>
        </select>
            
        <label for="my">
            My
            <input id="my" style="display: inline" type="checkbox"/>
        </label>
    </nav>

    <h1>Sunday May 2</h1>

    <article>
        <table> 
            <thead><tr><th>Title</th><th colspan="2">Speaker</th><th>Track</th></tr></thead>
            <tbody data-bind="foreach: sessions">
                <tr data-bind=""> 
                    <td data-bind="text: title"></td>
                    <td data-bind="text: speaker.firstName"></td>
                    <td data-bind="text: speaker.lastName"></td>
                    <td data-bind="text: track"></td>
                </tr>     
            </tbody>
        </table>
    </article>
</section>
