<section id="sessions" class="view">
    <nav>
        <label for="track">Track</label>
        <select id="track" data-bind="options: tracks, value: sessionFilter.track, optionsText: 'name', optionsCaption:'All'">
        </select>
            
        <label for="speaker">Speaker</label>
        <select id="speaker" data-bind="options: speakers, value: sessionFilter.speaker, optionsText: 'fullName', optionsCaption:'All'">
        </select>
            
        <label for="timeslot">Time slot</label>
        <select id="timeslot" data-bind="options: timeslots, value: sessionFilter.timeslot, optionsText: 'shortStart', optionsCaption:'All'">
        </select>
            
        <label for="favoritesOnly">
            Favorites Only
            <input id="favoritesOnly" style="display: inline" type="checkbox" data-bind="checked: sessionFilter.favoriteOnly"/>
        </label>
        <button data-bind="click: clearSideFilters">Clear Filters</button>
    </nav>

    <div>
        <input data-bind="value: sessionFilter.searchText, valueUpdate: 'afterkeydown', event: {keyup: keyCaptureFilter}" 
               placeholder="filter by room, speaker, tag, title, or track" type="text"/>
        <a class="clear-text" data-bind="click: clearFilter" title="Clear">X</a>
        <a class="refresh" data-bind="click: refresh" title="Refresh"></a>
        <small>Showing <small data-bind="text:sessions().length"></small> sessions</small>
    </div>
    
    <!-- ko foreach: sessions -->
    <!-- data-bind="click: $parent.gotoDetails" -->
    <article>
        <div data-bind="click: $parent.gotoDetails" title="Go to session details">
            <img data-bind="attr: {src: speaker().imageName}"/>
            <span data-bind="text:timeslot().shortStart"></span> at <span data-bind="text:room().name"></span>
            <small data-bind="text:level" style="float: right"></small>
            <small data-bind="text:track().name" style="clear:right;float:right"></small>
            <h1 data-bind="text: title"></h1>
            <address data-bind="text: speaker().fullName"></address>
            <small data-bind="text:tagsFormatted"></small>
        </div>
        <label title="Mark as favorite"><input data-bind="checked:isFavorite" type="checkbox"/><span></span></label>
        @*<a data-bind="attr: {href: '#/sessions/' + id() }">Details</a>*@
    </article>
    <!-- /ko -->

</section>
