<section id="speakers-view" class="view">

    <div class="filter-box-container-full-width">
        <input class="filter-box"
            data-bind="value: speakersFilter.searchText, valueUpdate: 'afterkeydown', escape: clearFilter" 
            placeholder="filter by first or last name" type="text"/>
        <a class="clear-text" data-bind="click: clearFilter" title="Clear"></a>
        <div class="filter-box-container-full-width">
            <button class="refresh" data-bind="command: forceRefresh, activity: forceRefresh.isExecuting">Refresh</button>
            <small>Showing <span data-bind="text:speakers().length"></span> speakers</small>
        </div>
    </div>

    <div class="view-list" data-bind="template: {name: tmplName, foreach: speakers}">
    </div>
    
</section>
