<section id="speakers" class="view">
        <nav>
            <ul>
                <li><a href="#">Right Now</a></li>
                <li><a href="#">Saturday May 1</a></li>
                <li><a href="#">Sunday May 2</a></li>
                <li><a href="#">Monday May 3</a></li>
                <li><a href="#">Tuesday May 4</a></li>
            </ul>
        </nav>
        <h1>Sunday May 2</h1>
        <article>
            <table> 
                <thead><tr><th>Title</th><th colspan="2">Speaker</th><th>Track</th></tr></thead>
                <tbody data-bind="foreach: sessions">
                    <tr data-bind=""> 
                        <td data-bind="text: title"></td>
                        <td data-bind="text: speaker.firstName"></td>
                        <td data-bind="text: speaker.lastName"></td>
                        <td data-bind="text: track"></td>
                    </tr>     
                </tbody>
            </table>
        </article>
    </section>
