<section id="speaker-view" class="view">
    
    <button class="button-back" data-bind="command: goBackCmd"></button>

    <div class="save-cancel-button-bar" data-bind="if:canEdit">
        
        <button class="button-cancel" 
                data-bind="command: cancelCmd, activity: cancelCmd.isExecuting">Cancel</button>
        
        <button class="button-save" 
                data-bind="command: saveCmd, activity: saveCmd.isExecuting">Save</button>

    </div>

    <div data-bind="template: {name: tmplName}"></div>

</section>