<section id="speakers" class="view">

    <div class="filter-box-container-full-width">
        <input class="filter-box"
            data-bind="value: speakersFilter.searchText, valueUpdate: 'afterkeydown', event: {keyup: keyCaptureFilter}" 
            placeholder="filter by first or last name" type="text"/>
        <a class="clear-text" data-bind="click: clearFilter" title="Clear"></a>
        <a class="refresh" data-bind="click: refresh" title="Refresh"></a>
        <small>Showing <span data-bind="text:speakers().length"></span> speakers</small>
    </div>

    <div id="speaker-list" class="view-list" data-bind="foreach: speakers">
        <article class="article-container-full-width">
            <div data-bind="click: $parent.gotoDetails" title="Go to speaker details">
                <img data-bind="attr: {src: imageName}"/>
                <address data-bind="text: firstName"></address>
                <address data-bind="text: lastName"></address>
            </div>
        </article>
    </div>
    
</section>
