/* 1 RESET - http://meyerweb.com/eric/tools/css/reset
--------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	outline: 0;
}

/* 2.1 LAYOUT
--------------------------------------------------------- */
html {
	padding: 0 7%;
    color: #000000;
    background: #FFFFFF;
	overflow: scroll;
}

body {
	font-size: 18px;
	margin: 3% auto;
	max-width: 1100px;
	text-shadow: rgba(0,0,0,.2) 1px 1px 0px;
	text-shadow: none;
}

	body > header > h1 {
		background: url(images/icon-blue.png) no-repeat left center;
		background-size: 45px;
		font-family: "Segoe UI",Arial,Helvetica,sans-serif;
		font-size: 300%;
		font-weight: normal;
		letter-spacing: -3px;
		margin-bottom: 2%;
		padding-left: 60px;
		padding-bottom: 4px;
		text-shadow: 2px 2px rgba(0,0,0,.15);
	    text-transform: uppercase;
	    color: #119EDA;
	}

	nav.main-nav {
		border-bottom: solid 1px rgba(0,0,0,.1);
		border-top: solid 1px rgba(0,0,0,.1);
		padding-bottom: .3%;
		text-transform: lowercase;
	}

		nav.main-nav > ul > li {
			display: inline;
			margin-right: 4%;
		}

		nav.main-nav > ul > li:last-child {
			margin-right: 0;
		}

			nav.main-nav > ul > li > a,
			nav.main-nav > ul > li > span {
				font-size: 130%;
				line-height: 200%;
			}

			nav.main-nav > ul > li > a {
				text-decoration: none;
			}

            
	.view {
		margin-top: 3%;
	}

		.filter-box-container {
			margin: 0 0 2% 260px;
			/*overflow: auto;*/
		}
        .filter-box-container-full-width {
            margin: 0 0 3% 0;
        }

            .filter-box {
            /*.view > div > input {*/
				background: url(images/search.png) white no-repeat 10px center;
				border: solid 1px rgb(200,200,200);
				box-sizing: border-box;
				color: black;
				display: block;
				font-size: 100%;
				padding: 5px 10px 7px 35px;
				width: 100%;
			}

				.filter-box > ::-webkit-input-placeholder {
				    color: rgb(100,100,100);
				}

				.filter-box > :-moz-placeholder {
				    color: rgba(255,255,255,.8);
				}

        .view > nav {
			float: left;
			width: 220px;
		}

			.view > nav > select {
				border: solid 1px rgb(200,200,200);
				box-sizing: border-box;
				color: black;
				display: block;
				font-size: 100%;
				padding: 5px 7px;
				width: 100%;
			}

        .view > nav > ul {
			list-style-type: none;
		}

		.view > nav > ul > li > a,
		.view > nav > ul > li > span {
			background: rgba(255,255,255,.1);
			display: block;
			line-height: 220%;
			margin-bottom: 2px;
			padding: 0 10px 0px 15px;
			text-decoration: none;
			text-transform: uppercase;
		}
		
		.view > nav > ul > li > :after {
			content: '►';
			float: right;
			font-family: Arial, Helvetica;
			font-size: 11px;
			opacity: .9;
		}
		
		.view > nav > ul > li > a {
			background: rgba(0,0,0,.05);
			background: transparent;
		}

		.view > nav > ul > li > a:hover {
			background: rgba(0,0,0,.05);
			cursor: pointer;
		    color: #000000;
		}

	.article-right-content {
		border-bottom: solid 1px rgba(0, 0, 0, .1);
		margin: 0 0 0 260px;
		min-height: 100px;
		padding: 20px;
	}
    .article-container-full-width {
        margin: 4px;
        float: left;
        width: 110px;
        height: 140px;
        border-bottom: solid 0 rgba(0, 0, 0, 0);
        /*border: 1px dotted #D3D3D3;*/
    }

    .view-list > article:hover {
		background: rgba(0,0,0,.05);
		cursor: pointer;
	}

		.view-list > article h1 {
			font-size: 125%;
			line-height: 120%;
			margin-bottom: 2%;
		}

		.view-list > article > div > img {
			background: rgba(255, 255, 255, .8);
			border: 1px solid rgba(255, 255, 255, 1);
			box-shadow: 0 0 1px rgba(0,0,0,0.4);
			float: left;
			height: 90px;
			margin-right: 4%;
			padding: 4px;
		}
        .view-list > .article-container-full-width img {
            float: none;
            display: block;
            margin: auto;
        }

        .view-list > article > div > time {
			font-family: "Segoe UI",Arial,Helvetica,sans-serif;
			font-weight: bold;
			float: right;
			margin-left: 2%;
			text-transform: uppercase;
		}

		.view-list > article > div > address {
			font-family: "Segoe UI",Arial,Helvetica,sans-serif;
			font-size: 95%;
			font-weight: bold;
			text-transform: uppercase;
		}

        .view-list > .article-container-full-width address {
            text-align: center;
        }


		input[type=checkbox] {
			display:none;
		}

        label.markfavorite > input[type=checkbox] + span {
		    background: url(images/bookmark.png);
            background-repeat: no-repeat;
		    cursor: pointer;
		    display: inline-block;
		    float: right;
		    height: 32px;
		    opacity: .6;
		    padding: 0;
		    width: 32px;
            margin-top: -5%;
		}

        label.markfavorite > input[type=checkbox]:checked + span {
		    background: url(images/bookmarkchecked.png);
		    opacity: 1;
        }

        label.markfavorite > input[type=checkbox]:disabled + span {
            background: url(images/bookmarklocked.png);
        }

        label.markfavorite > input[type=checkbox] + span:hover {
		   opacity: .8;
		}
		

        label.favoritesonly > input[type=checkbox] + span {
		   background-image: url(images/checkbox_unchecked.png);
		   background-position: right center;
		   background-repeat: no-repeat;
		   cursor: pointer;
		   display: inline-block;
		   height: 18px;
		   opacity: .6;
		   padding: 0 25px 0 0;
		}

        label.favoritesonly > input[type=checkbox]:checked + span {
		   background-image: url(images/checkbox_checked.png);
		   opacity: 1;
		}

        label.favoritesonly > input[type=checkbox] + span:hover {
		   opacity: .8;
		}

/* 2.2 LINK STYLES
--------------------------------------------------------- */
a {
    color: #000000;
	padding-bottom: 2px;
	text-decoration: none;
}

	a:hover {
		opacity: .6;
	}

	a:active, a:focus {
		position: relative;
		top: 1px;
	}


/* 2.3 FONTS
--------------------------------------------------------- */
body,
button,
input,
textarea,
select {
    font-size: 100%;
	font-family: "Segoe UI Light","Segoe Light","Segoe UI","Helvetica-Light",Arial,Helvetica,sans-serif;
}


/* 2.4 ELEMENTS
--------------------------------------------------------- */
input,
textarea,
select {
	padding: 5px;
}

nav label,
small {
	color: gray;
	/*font-size: 80%;*/
	text-transform: uppercase;
}

nav label {
	display: block;
	margin-bottom: 3%;
}

nav select {
	margin-bottom: 6%;
}

button {
	border: 0;
	background-color: #119EDA;
	background-position: 25px center;
	background-repeat: no-repeat;
	color: white;
	font-size: 100%;
	margin: 0px;
	padding: 7px 30px 8px 50px;
}

	button:active, button:focus {
		position: relative;
		top: 1px;
	}

	button:hover {
		opacity: 0.6;
	}

    button:disabled {
        opacity: 0.6;
        cursor: default;
        position: relative;
        top: 0;
    }

/* 2.5 ICONS
--------------------------------------------------------- */
.refresh {
	background-image: url(images/refresh.png);
    cursor: pointer;
	float: right;
	margin-top: 5px;
}

.save-cancel-button-bar {
	float: right;
    margin: 0 2% 2% 0;
}
.cancel {
	background-image: url(images/refresh.png);
    cursor: pointer;
}
.save {
	background-image: url(images/refresh.png);
    cursor: pointer;
}

.clear-text {
    background: url(images/clear.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    font-weight: bold;
    margin-top: -28px;
    margin-right: 10px;
    opacity: .3;
    float: right;
    cursor: pointer;
}
.clear-text:hover {
    opacity: 0.6;
}

.clear-trash {
	background-image: url(images/trash.png);
    cursor: pointer;
	margin-top: 15px;
}


/* 3.0 CUSTOM
--------------------------------------------------------- */
/*.text-accent {
    color: #119EDA;
}*/

.view { display: none; }
/*.view-active {} */


.route-active.route-top > a {
	cursor: default;
	color: #119EDA;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

.route-active.route-left > a {
	cursor: default;
	color: #FFFFFF;

    background: #119EDA; /*#f58a00;*/
}

/*#119EDA blue accent
#f58a00 orange accent*/

.accent{
    position: absolute;
    background: #119EDA;
}

.accent-top {
    width: 200px;
    height: 30px;
    top: 0;
    left: 0;
    margin-left: 50%;
}

.accent-left {
    width: 30px;
    height: 200px;
    left: 0;
}

#busyindicator {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}

.starRating-readonly,
.starRating { margin: 0 2px 0 2px; }

.starRating-readonly span,
.starRating span { width:24px; 
                   height:24px; 
                   background-image: url(images/stars.png); 
                   display:inline-block; 
                   background-position: -24px 0;
                   margin: 0; }
.starRating span { cursor: pointer; }

.starRating span.chosen { background-position: 0 0; }
.starRating:hover span { background-position: -24px 0; }
.starRating:hover span.hoverChosen { background-position: 0 0; }

/* 3.1 RESPONSIVENESS
--------------------------------------------------------- */
@media only screen and (max-width: 1000px) {
	body {
		font-size: 16px;
	}
}

@media only screen and (max-width: 900px) {
	body {
		font-size: 14px;
	}

    nav label {
	    margin-bottom: 1%;
    }

    nav select {
	    margin-bottom: 1%;
    }

    .accent-top {
        width: 160px;
        height: 20px;
    }

    .accent-left {
        width: 20px;
        height: 160px;
    }
}

@media only screen and (max-width: 800px) {
	body > header > h1 {
		background-size: 45px;
		padding-left: 60px;
	}

	.filter-box-container {
		margin: 0 0 2% 0;
	}

    .filter-box-container-full-width {
        margin: 0 0 5% 0;
    }

	.filter-box > input {
		background-position: 5px center;
		padding: 5px 5px 5px 25px;
		margin: 2% 0 2% 0px;
	}

    label.markfavorite > input[type=checkbox] + span {
        background-size: 24px;
        width: 24px;
        height: 24px;
    }

	.view > nav { /* PAPA - This fixes thead width problem of thead left nav on smaller device sizes*/
		float: none;
		margin: 0 0 7% 0;
		width: 100%;
	}
		
		.view > nav > ul > li > :after {
			content: '▼';
		}

    .view > h1,
	.view-list > article,
    .filter-box {
        margin: 0 0 4% 0;
	}

	.view > h1 {
		margin-bottom: 6%;
	}

        .view > nav > ul > li > a,
		.view > nav > ul > li > span {
			padding: 0 10px;
		}

		.view-list > article > div > img {
			height: 90px;
		}

    .clear-text {
        margin-top: -50px;
    }

}

@media only screen and (max-width: 480px) {
	body {
		font-size: 11px;
	}

	body > header > h1 {
		background-size: 40px;
		font-size: 300%;
		padding-left: 50px;
	}

    .view-list > article {
		min-height: 80px;
		padding: 10px;
	}

		.view-list > article > div > h1 {
			margin-top: 1%;
		}

		.view-list > article > div > img {
			height: 70px;
		}

		label.markfavorite > input[type=checkbox] + span {
			background-size: 16px;
			height: 16px;
			width: 16px;
		}
		

    .filter-box-container-full-width {
        margin: 0 0 7% 0;
    }

    .accent-top {
        width: 120px;
        height: 10px;
    }

    .accent-left {
        width: 10px;
        height: 120px;
    }

    .clear-text {
        margin-top: -30px;
        background-size: 10px;
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 240px) {
    body {
        font-size: 10px;
    }

        body > header > h1 {
            background-size: 20px;
            font-size: 250%;
            padding-left: 30px;
        }
}