@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Code Camper vm.speaker Tests</title>
    @Styles.Render("~/Content/css")
    
    @Styles.Render("~/Content/less")
  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="qunit/qunit.css" /> 
</head>
<body>
<h1 id="qunit-header">Code Camper vm.speaker Tests</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture"></div>
</body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    <script type="text/javascript" src="qunit/qunit.js"></script>
    <script type="text/javascript" src="qunit-utils.js"></script>

    <!-- Now we grab the 3rd party libraries, some of which depend on jquery. 
        Others we need before we depend on them later -->
    @Scripts.Render("~/bundles/jsextlibs")

    <script src="~/Scripts/lib/require.js" type="text/javascript"></script>

    <!-- Load the custom libraries for our app before we run main.js which kicks off bootstrapper -->
    @*@Scripts.Render("~/bundles/jsapplibs")*@
    @*@Scripts.Render("~/bundles/jsmocks")*@
    
    
    <script type="text/javascript">
        window.defineSaved = window.define;
        
        window.define = function (a, b, c) {
            a === 'vm.speaker' ? window.testFn = c : defineSaved(a, b, c);
        };
    </script>

    <script type="text/javascript" src="~/Scripts/app/vm.speaker.js"></script>

    <script type="text/javascript" src="vm.speakers.tests.js"></script>
    
    <script src="main.tests.js" type="text/javascript"></script>
</html>
